.info-modal {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &__content {
    position: fixed;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    @media (max-width: 500px) {
      width: 260px;
      height: 220px;
    }
  }
  &__content-text {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

}
