//Стилизация формы смены пароля
.password-btn {
  width: 300px;
  background: #2F65F6;
}
.password-form {
  width: 550px;
  min-height: 430px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 138px;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 40px 35px 35px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  font-family: 'Inter';
  z-index: 13;

  .change-btn {
    pointer-events: none;
  }

  &:valid .change-btn {
    background-color: #2F65F6;
    pointer-events: all;
  }

  &:valid .change-btn:hover {
    background-color: #264DDB;
  }

  &_active {
    opacity: 1;
    visibility: visible;
  }

  h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #000000;
    margin-bottom: 22px;
  }

  .error-message {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #BB1225;
    padding-top: 5px;
    display: none;
    margin-bottom: 20px;
  }


  &__input-wrapper {
    position: relative;
    margin-bottom: 20px;

    &.invalid {
      input {
        background: #FEF2F2;

        &:focus {
          background: #FEF2F2;
          outline: 1px solid #BB1225;
        }
      }
    }

    .explanation-btn {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      cursor: pointer;
      width: 23px;
      height: 23px;
    }

    .explanation-btn:hover ~ .password-form__explanation {
      opacity: 1;
      visibility: visible;
    }
  }

  &__input-wrapper.invalid + .error-message {
    display: block;
  }

  &__input {
    background: #F2F1F7;
    border: none;
    width: 100%;
    height: 60px;
    padding: 0 40px 0 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    &:focus {
      outline: 1px solid #3E29CA;
      background-color: #ffffff;
    }

    &_active ~ .password-form__label {
      top: 13px;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #817D8C;
  }

  &__explanation {
    position: absolute;
    top: 50%;
    right: -336px;
    width: 328px;
    min-height: 60px;
    padding: 12px 14px;
    border-radius: 10px;
    background-color: #fff;
    transform: translateY(-50%);
    filter: drop-shadow(-2px 10px 18px rgba(3, 0, 135, 0.3));
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    p {
      font-family: 'Inter', sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #3E29CA;
    }
  }

  &__descr {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 33px;
    color: #817D8C;
  }

  &__cancel-btn {
    border: none;
    display: block;
    cursor: pointer;
    background: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    text-align: center;
    color: #2F65F6;
    &:hover {
      text-decoration: underline;
    }
  }
}

//медиазапросы формы смены пароля

@media (max-width: 1160px) {
  .password-form__explanation {
    right: -25px;
  }
}

@media (max-width: 550px) {
  .password-form {
    max-width: 420px;
  }
}

@media (max-width: 430px) {
  .password-form {
    max-width: 340px;
    padding: 30px 15px;
  }
  .password-form__explanation {
    right: 0;
  }
  .password-form__input[name="phone"] + label {
    font-size: 17px;
  }
}
