.user-activated {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  width: 522px;
  min-height: 170px;
  border-radius: 20px;
  border: 1px solid #A0A0A0;
  background: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &._active {
    opacity: 1;
    z-index: 19;
    visibility: visible;
  }

  svg {
    margin-bottom: 25px;
  }

  h1 {
    @include montserrat-semi;
    line-height: 28px;
    color: black;
  }
  &__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  @media (max-width: 576px) {
    width: 98%;
    padding: 0 10px;
  }
}
