.home-page {
  background: linear-gradient(270.19deg, #2F1399 0.2%, #5141B3 99.86%);

  .section-subtitle {
    @include montserrat-semi;
    font-size: 40px;
    line-height: 65px;
    margin-bottom: 65px;
  }

  .mode {
    padding-top: 118px;

    .container {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      width: 40%;
    }

    &__item-title {
      @include montserrat-semi;
      font-size: 26px;
      line-height: 32px;
      color: #FFFFFF;
      margin-bottom: 40px;
    }

    &__item-list {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        p {
          font-size: 22px;
          line-height: 30px;
        }
      }

    }

    &__item-img {
      position: relative;
      width: 95px;
      height: 100px;
      margin-right: 50px;
      svg {
        width: 100%;
        height: 100%;
      }
    }


  }

  .tool {

    padding-top: 97px;

    .container__tool-slider {
      max-width: 1575px;
      padding: 0 73px;
      overflow-x: hidden;
    }

    .tool-swiper {
      position: relative;

      .swiper-slide {
        cursor: pointer;
      }

      &__img {
        position: relative;
        padding-top: 60%;
        width: 100%;

        img {
          border-radius: 12px;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }


      &__controls {
        width: 100%;
        z-index: 10;
      }

      &__button-prev,
      &__button-next {
        position: absolute;
        z-index: 100;
        top: calc(50% - 40px);
        transform: translateY(-50%);
      }

      &__button-prev {
        left: -70px;
      }

      &__button-next {
        right: -70px;
      }


      &__pagination {
        padding-top: 80px;
        display: flex;
        justify-content: center;

        .swiper-pagination-bullet {
          width: 20px;
          height: 20px;
          background: rgba(#A5B4C4, 0.11);

          &:not(:last-child) {
            margin-right: 20px;
          }
        }

        .swiper-pagination-bullet-active {
          background: rgba(#A5B4C4, 0.3);
        }
      }


    }
  }

  .capabilities {
    padding-top: 40px;

    .capabilities-swiper {
      position: relative;
      overflow: hidden;

      .swiper-slide {
        cursor: pointer;
      }

      &__img {
        width: 160px;
        height: 160px;
        margin-bottom: 47px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        font-size: 18px;
        line-height: 30px;
      }


      &__controls {
        width: 100%;
        z-index: 10;
      }

      &__pagination {
        padding-top: 80px;
        display: flex;
        justify-content: center;

        .swiper-pagination-bullet {
          width: 20px;
          height: 20px;
          background: rgba(#A5B4C4, 0.11);

          &:not(:last-child) {
            margin-right: 20px;
          }
        }

        .swiper-pagination-bullet-active {
          background: rgba(#A5B4C4, 0.3);
        }
      }


    }
  }

  .feedback {
    padding: 97px 0 160px;

    &__form-fields {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
    }

    &__form-item {
      width: 31%;

      label {
        @include montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: rgba(#ffffff, 0.6);
        display: block;
        margin-bottom: 15px;
      }

      input {
        width: 100%;

        @include montserrat-regular;
        font-size: 34px;
        line-height: 42px;
        color: #ffffff;
        border: none;
        border-bottom: 1px solid rgba(#FFFFFF, 0.6);
        transition: all .3s;
        padding: 10px 15px 10px 0;
        background: none;
        outline: none;

        &::placeholder {
          color: rgba(#ffffff, 0.3);
        }

        &:focus {
          border-bottom-color: #ffffff;
        }
      }
    }

    &__checkbox-wrapper {
      margin-bottom: 80px;

      &:hover {
        label {
          color: #ffffff;
        }

        label::before {
          border-color: #FFFFFF;
        }
      }
    }

    &__checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;


      & + label {
        transition: all .3s;
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        @include montserrat-regular;
        font-size: 18px;
        line-height: 22px;
        color: #B9B4E1;
      }

      & + label::before {
        content: '';
        display: inline-block;
        width: 31px;
        height: 31px;
        margin-right: 15px;
        flex-shrink: 0;
        flex-grow: 0;
        transition: all .3s;
        border: 0.5px solid #B9B4E1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px 15px;
      }

      &:checked + label::before {
        background: url("../img/check-icon.svg") no-repeat center;
      }
    }

    &__form-btn {
      width: 311px;
    }

  }

}
