<header class="header">
  <div class="container">
    <div class="header__menu">
      <div class="header__logo">
        <img src="img/logo.png" alt="ТАУ логотип">
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#">О проекте</a>
          </li>
          <li class="header__nav-item">
            <a href="#">Возможности</a>
          </li>
          <li class="header__nav-item">
            <a href="#">Тарифы</a>
          </li>
          <li class="header__nav-item">
            <a href="#">Проекты</a>
          </li>
          <li class="header__nav-item">
            <a href="#">Контакты</a>
          </li>
          <li class="header__nav-item">
            <a href="#">Партнеры</a>
          </li>
        </ul>
      </nav>
      <div class="header__personal">
        <a href="#" class="header__personal-name">
          Константинов
          <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.7 0.600098C7.40001 0.600098 0.700012 7.3001 0.700012 15.6001C0.700012 23.9001 7.40001 30.6001 15.7 30.6001C24 30.6001 30.7 23.9001 30.7 15.6001C30.7 7.3001 23.9 0.600098 15.7 0.600098ZM15.7 5.1001C18.4 5.1001 20.7 7.3001 20.7 10.1001C20.7 12.8001 18.5 15.1001 15.7 15.1001C13 15.1001 10.7 12.9001 10.7 10.1001C10.7 7.3001 12.9 5.1001 15.7 5.1001ZM15.7 26.7001C13 26.7001 10.5001 25.7001 8.50006 24.1001C8.00006 23.7001 7.80011 23.1001 7.80011 22.5001C7.80011 19.7001 10.0001 17.5001 12.8001 17.5001H18.6C21.4 17.5001 23.6 19.7001 23.6 22.5001C23.6 23.1001 23.3001 23.7001 22.9001 24.1001C20.9001 25.7001 18.4 26.7001 15.7 26.7001Z"
              fill="white"/>
          </svg>
        </a>
        <button class="header__personal-btn" type="button">Войти</button>
      </div>
    </div>
    <div class="header__main">
      <h1 class="header__title">Удобный инструмент управления проектами
        юриста</h1>
      <p class="header__main-paragraph">
        Мы взяли главную ценность рабочего процесса — человека, делающего свое
        дело.
      </p>
      <p class="header__main-paragraph">
        Использовали собственный значительный опыт практикующих и учёных
        юристов.
      </p>
      <p class="header__main-paragraph">
        Применили научные методики организации производственых процессов.
      </p>
      <p class="header__main-paragraph">
        Поручили разработку специалистам высокого класса
        и сами принимаем в ней участие.
      </p>
      <p class="header__main-paragraph">
        Внедрили стандарты качества оказания услуг
        и механизмы их реализации.
      </p>


      <div class="main-btn-wrapper header__main-btn-wrapper">
        <button class="main-btn " type="button">Оставить
          заявку
        </button>
      </div>
    </div>

  </div>
</header>
