<form class="password-form" method="post" action="">
  <h1>Смена пароля</h1>
  <div class="password-form__input-wrapper">
    <input class="password-form__input password-form__phone-input" type="tel"
           id="phone-pass" name="phone" required>
    <label class="password-form__label">Номер мобильного телефона</label>
    <img class="explanation-btn" src="img/question-icon.png"
         alt="explanation">
    <div class="password-form__explanation">
      <p>Поясняющий текст во всплывающем окне к инпуту длиной в две-три
        строки</p>
    </div>
  </div>
  <p class="error-message">Номер телефона заполнен некорректно</p>
  <p class="password-form__descr">Новый пароль будет создан системой и
    направлен Вам сообщением на мобильный номер</p>
  <button class="btn change-btn" type="submit">Сменить пароль</button>
  <button class="password-form__cancel-btn">Отменить</button>
</form>
